
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Rajdhani:wght@300;400;500;600;700&display=swap');

/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Rajdhani', sans-serif; */

*,*::before,*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ul,ol,li{
    list-style: none;
    
}

h1,h2,h3,h4,h5,h6{
    font-weight: inherit;
    font-size: inherit;
}

html,body{
    height: 100%;
    line-height: 1;
    font-family: 'Open Sans', sans-serif;
    overflow: auto;
}


body._lock{
    overflow: hidden;
}

html:has(body._lock){
    overflow: hidden;
}



/*----------------*/

.logo__link{
    flex-basis: 20%;
    margin-right: 6px;
}

.container{
    max-width: 1280px;
    margin: auto;
    padding: 0 55px 0 55px;
}

.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* border: solid; */
}

.logo__text{
    text-transform: uppercase;
    font-family: 'Rajdhani', sans-serif;   
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0.05em;
    width: 137px;
    height: 37px;
    

}

.logo__left{
    color: #252A34;
}

.logo__right{
    color: #FF2E63;
}

.nav__list__wrapper{
    flex-basis: 70%;
}

.nav__list{
    display: flex;
    justify-content: space-between;
    /* width: 644px;  */
    height: 100%;
    align-items: center;
    text-align: center;
   
    
}

.nav__list__item{
    margin-inline: 5px;
}

.nav__list__link{
    transition: all .2s ease-in-out;
}

.nav__list__item:hover .nav__list__link{
    color: #FF2E63;
    transition: all .2s ease-in-out;
}

.nav__list__link{
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #252A34;
}

.nav__and__auth{
    display: flex;
    justify-content: space-between;
    flex-basis: 80%;
}

.nav__authorization{
    display: flex;
}
.nav__authorization > button{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;  
    cursor: pointer;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}

.nav__login{
    color: #FF2E63;
    background-color: transparent;
    padding: 8px 23px 10px 23px;
    margin-right: 8px;
}

.nav__login:hover{
    background-color: #dddcdc;
    transition: all .2s ease-in-out;
}

.nav__register{
    color: white;
    background-color: #FF2E63;
    padding: 8px 23px 10px 23px;
}

.nav__register:hover{
    background-color: #a51b3e;
    transition: all .2s ease-in-out;
}


.menu__icon-wrap{
    display: block;
    background-color: #FF2E63;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    display: none;
    z-index: 5;
}

.menu__icon{ 
    
    display: block;
    position: relative;
    width: 24px;
    padding-inline: 4px;
    height: 24px;
    cursor: pointer;
    margin: auto;
}

.menu__icon span,
.menu__icon:before,
.menu__icon:after{
    left: 4px;
    position: absolute;
    height: 3px;
    border-radius: 7px;
    width: 16px;
    transition: all 0.3s ease 0s;
    background-color: #ffffff;
}

.menu__icon::before,
.menu__icon::after{
    content: "";
}

.menu__icon::before{
    top: 6px;
}

.menu__icon::after{
    bottom: 6px;
}

.menu__icon span{
    top: 50%;
    transform: scale(1) translate(0px, -50%);
}

.container:has(.header){
    padding-top: 30px;
    padding-bottom: 121px;
}





@media (max-width:910px) {
    .container:has(.header){
        padding: 10px 16px 100px 20px;
    }

    
    
    .mobile__bg{
        width: 0px;
        height: 56px;
        position: fixed;
        right: -100%;
        transition: all 0.3s ease 0s;
        top: 0;
    }
    
    .header._active .nav__and__auth{
        right: 0;
        transition: all 0.3s ease 0s;
        width: 100%;
    }


    .nav__and__auth{
        position: fixed;
        top: 0;
        right: -100%;
        width: 0%;
        height: 100%;
        background-color: #fff;
        padding: 106px 16px 40px 16px;
        transition: left 0.3s ease 0s;
        overflow: auto;  
        z-index: 4;
        flex-direction: column;
        justify-content: flex-start;
    }

    .nav__list__wrapper{
        flex-basis: auto;
        margin-bottom: 40px
    }
    
    .nav__list{
        display: block;
        text-align: left;
    }

    .nav__item{
        margin: 0;
    }
    /* .nav__authorization{
        position: fixed;
        top: 408px;
        right: -100%;
        width: 100%;
        z-index: 4;
        display: flex;
    } */

    .nav__login{
        margin-left: 6px;
        order: 2;
    }

    .menu__icon-wrap{
        margin-top: 5px;
        display: block;
        color: white;
    }

    .header{
        position: relative;
    }


    .menu__icon-wrap._active{
        background-color: #fff;
    }

    
    .menu__icon._active span{
        transform: scale(0) translate(0px, -50%);
    }

    .menu__icon._active:before,
    .menu__icon._active:after,
    .menu__icon._active span{
        left: 5px;
    }
    
    .menu__icon._active::before{
        top: 12px;
        transform: rotate(-45deg) translate(0px, -2px);
        width: 16px;
        background-color: #FF2E63;
    }
    
    .menu__icon._active::after{
        bottom: 11.8px;
        transform: rotate(45deg) translate(0px, 2px);
        width: 16px;
        background-color: #FF2E63;
    }
    
    .header._active .mobile__bg{
        position: fixed;
        width: 100%;
        right: 0;
        top: 0;
        background-color:#FF2E63;
        transition: all 0.3s ease 0s;
        z-index: 4;
    }
    
    .header._active .logo__link{
        z-index: 5;
        /* width: auto;
        right: 0; */
        transition: all 0.3s ease 0s;
    }
    
    .header._active .logo__link .logo__text > *{

        transition: all 0.5s ease 0s;
        color: white;
    }
    
    .nav__list__link{
        font-size: 20px;
    }

    .nav__list__item{
        margin-bottom: 30px;
        margin-inline: 0px;
    }

    .nav__list__item:last-child{
        margin-bottom: 0px;
    }
}


/*----------------------*/

.mobile__bg{
    display: none;
}

.container:has(.hero){
    padding: 0 0 0 55px;
}

.hero{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.hero__text{
    /* padding-top: 20px; */
    flex-basis: 36%;
}

.hero__text h1{
    font-family: 'Rajdhani', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #343434;
    margin-bottom: 35px;
}
.hero__text h1 span{
    color: #FF2E63;
}
.enter-now{
    width: 120px;
    height: 40px;
    padding: 8px 20px 10px 21px;
    background:#346CD9;
    color: #fff;
    border-radius: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.enter-now:hover{
    background-color: #2a57af;
    transition: all 0.3s ease 0s;
}

.hero__image{
    width: 100%;
    height: auto;
    object-fit: cover;
    
}

.hero__image__wrap{
    height: auto;
    max-width: 755px;
    margin-top: -95px;
    
}





@media (max-width:910px) {
    .hero__text h1{
        font-size: 35px;
        line-height: 42px;
    }

    .mobile__bg{
        display: block;
    }
}

@media (max-width:730px) {
    .container:has(.hero){
        padding: 0 16px 0 16px;
    }
    
    .hero{
        flex-direction: column;
    }

    .hero__text h1{
        padding-right: 5%;
        margin-bottom: 19px;
    }

    .hero__text{
        flex-basis: auto;
        margin-bottom: 146px;
    }

    .hero__media{
        margin-inline: -16px;
    }
   
    .hero__image__wrap{
        height: auto;
        max-width: 755px;
        display: flex;
        justify-content: center;     
        overflow: hidden;   
    }
    
    
    .hero__image{
        width: 100%;
        min-width: 425px;
        min-height: 170px;
        
        
    }

    
}
