
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Rajdhani:wght@300;400;500;600;700&display=swap');

/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Rajdhani', sans-serif; */

*,*::before,*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ul,ol,li{
    list-style: none;
    
}

h1,h2,h3,h4,h5,h6{
    font-weight: inherit;
    font-size: inherit;
}

html,body{
    height: 100%;
    line-height: 1;
    font-family: 'Open Sans', sans-serif;
    overflow: auto;
}


body._lock{
    overflow: hidden;
}

html:has(body._lock){
    overflow: hidden;
}



/*----------------*/

.logo__link{
    flex-basis: 20%;
    margin-right: 6px;
}

.container{
    max-width: 1280px;
    margin: auto;
    padding: 0 55px 0 55px;
}

.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* border: solid; */
}

.logo__text{
    text-transform: uppercase;
    font-family: 'Rajdhani', sans-serif;   
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0.05em;
    width: 137px;
    height: 37px;
    

}

.logo__left{
    color: #252A34;
}

.logo__right{
    color: #FF2E63;
}

.nav__list__wrapper{
    flex-basis: 70%;
}

.nav__list{
    display: flex;
    justify-content: space-between;
    /* width: 644px;  */
    height: 100%;
    align-items: center;
    text-align: center;
   
    
}

.nav__list__item{
    margin-inline: 5px;
}

.nav__list__link{
    transition: all .2s ease-in-out;
}

.nav__list__item:hover .nav__list__link{
    color: #FF2E63;
    transition: all .2s ease-in-out;
}

.nav__list__link{
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #252A34;
}

.nav__and__auth{
    display: flex;
    justify-content: space-between;
    flex-basis: 80%;
}

.nav__authorization{
    display: flex;
}
.nav__authorization > button{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;  
    cursor: pointer;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}

.nav__login{
    color: #FF2E63;
    background-color: transparent;
    padding: 8px 23px 10px 23px;
    margin-right: 8px;
}

.nav__login:hover{
    background-color: #dddcdc;
    transition: all .2s ease-in-out;
}

.nav__register{
    color: white;
    background-color: #FF2E63;
    padding: 8px 23px 10px 23px;
}

.nav__register:hover{
    background-color: #a51b3e;
    transition: all .2s ease-in-out;
}


.menu__icon-wrap{
    display: block;
    background-color: #FF2E63;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    display: none;
    z-index: 5;
}

.menu__icon{ 
    
    display: block;
    position: relative;
    width: 24px;
    padding-inline: 4px;
    height: 24px;
    cursor: pointer;
    margin: auto;
}

.menu__icon span,
.menu__icon:before,
.menu__icon:after{
    left: 4px;
    position: absolute;
    height: 3px;
    border-radius: 7px;
    width: 16px;
    transition: all 0.3s ease 0s;
    background-color: #ffffff;
}

.menu__icon::before,
.menu__icon::after{
    content: "";
}

.menu__icon::before{
    top: 6px;
}

.menu__icon::after{
    bottom: 6px;
}

.menu__icon span{
    top: 50%;
    transform: scale(1) translate(0px, -50%);
}

.container:has(.header){
    padding-top: 30px;
    padding-bottom: 121px;
}





@media (max-width:910px) {
    .container:has(.header){
        padding: 10px 16px 8px 20px;
        margin-bottom: 100px;
        background-color: white;
        z-index: 5;
        position: fixed;
        width: 100%;
      
    }

   
    
    
    .mobile__bg{
        width: 0px;
        height: 56px;
        position: fixed;
        right: -100%;
        transition: all 0.3s ease 0s;
        top: 0;
    }
    
    .header._active .nav__and__auth{
        right: 0;
        transition: all 0.3s ease 0s;
        width: 100%;
    }


    .nav__and__auth{
        position: fixed;
        top: 0;
        right: -100%;
        width: 0%;
        height: 100%;
        background-color: #fff;
        padding: 106px 16px 40px 16px;
        transition: left 0.3s ease 0s;
        overflow: auto;  
        z-index: 4;
        flex-direction: column;
        justify-content: flex-start;
    }

    .nav__list__wrapper{
        flex-basis: auto;
        margin-bottom: 43px
    }
    
    .nav__list{
        display: block;
        text-align: left;
    }

    .nav__item{
        margin: 0;
    }
    /* .nav__authorization{
        position: fixed;
        top: 408px;
        right: -100%;
        width: 100%;
        z-index: 4;
        display: flex;
    } */

    .nav__login{
        margin-left: 6px;
        order: 2;
    }

    .menu__icon-wrap{
        margin-top: 5px;
        display: block;
        color: white;
    }


   

    .header._active .menu__icon-wrap{
        background-color: #fff;
    }

    
    .menu__icon._active span{
        transform: scale(0) translate(0px, -50%);
    }

    .menu__icon._active:before,
    .menu__icon._active:after,
    .menu__icon._active span{
        left: 5px;
    }
    
    .menu__icon._active::before{
        top: 12px;
        transform: rotate(-45deg) translate(0px, -2px);
        width: 16px;
        background-color: #FF2E63;
    }
    
    .menu__icon._active::after{
        bottom: 11.8px;
        transform: rotate(45deg) translate(0px, 2px);
        width: 16px;
        background-color: #FF2E63;
    }
    
    .header._active .mobile__bg{
        position: fixed;
        width: 100%;
        right: 0;
        top: 0;
        background-color:#FF2E63;
        transition: all 0.3s ease 0s;
        z-index: 4;
    }
    
    .header._active .logo__link{
        z-index: 5;
        /* width: auto;
        right: 0; */
        transition: all 0.3s ease 0s;
    }
    
    .header._active .logo__link .logo__text > *{

        transition: all 0.5s ease 0s;
        color: white;
    }
    
    .nav__list__link{
        font-size: 20px;
    }

    .nav__list__item{
        margin-bottom: 36px;
        margin-inline: 0px;
    }

    .nav__list__item:last-child{
        margin-bottom: 0px;
    }
}


/*----------------------*/

.mobile__bg{
    display: none;
}

.container:has(.hero){
    padding: 0 0 0 55px;
}

.hero{
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
}

.hero__text{
    /* padding-top: 20px; */
    flex-basis: 36%;
}

.hero__text h1{
    font-family: 'Rajdhani', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #343434;
    margin-bottom: 35px;
}
.hero__text h1 span{
    color: #FF2E63;
}
.enter-now{
    width: 120px;
    height: 40px;
    padding: 8px 20px 10px 21px;
    background:#346CD9;
    color: #fff;
    border-radius: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.enter-now:hover{
    background-color: #2a57af;
    transition: all 0.3s ease 0s;
}

.hero__image{
    width: 100%;
    height: auto;
    object-fit: cover;
    
}

.hero__image__wrap{
    height: auto;
    max-width: 755px;
    margin-top: -95px;
    
}





@media (max-width:910px) {
    .container:has(.hero){
        margin-top: 147px;
    }
    .hero__text h1{
        font-size: 35px;
        line-height: 42px;
    }

    .mobile__bg{
        display: block;
    }

    .hero{
        margin-bottom: 63px;
    }
}

@media (max-width:730px) {
    .container:has(.hero){
        padding: 0 16px 0 16px;
    }
    
    .hero{
        flex-direction: column;
    }

    .hero__text h1{
        padding-right: 5%;
        margin-bottom: 20px;
    }

    .hero__text{
        flex-basis: auto;
        margin-bottom: 145px;
    }

    .hero__media{
        margin-inline: -16px;
    }
   
    .hero__image__wrap{
        height: auto;
        max-width: 755px;
        display: flex;
        justify-content: center;     
        overflow: hidden;   
    }
    
    
    .hero__image{
        width: 100%;
        min-width: 425px;
        min-height: 170px;
        
        
    }

    
}

/**********************************/

.latest__competitions{
    min-width: 0;
    margin-bottom: 83px;
}

.latest__competitions__header{
    font-family: 'Rajdhani';
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #343434;
    margin-bottom: 23px;
}

.swiper__slide{
    padding: 10px;
    width: auto;
}

.swiper__content__wrapper{
   
    background: #FFFFFF;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin-bottom: 8px;
}

.img__wrap{
    width: 270px;
    height: 160px;
    margin-bottom: 23px;
}

.first__swiper{
    margin: 0 -10px 0 -10px;
}





.swiper-button-prev{
    left: 20px;
}

.arrow__button{
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    background-color:  #346CD9;
    border-radius: 10px 0px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.card__header__text{
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #252A34;
    margin-bottom: 8px;
}

.card__header__price{
    margin-bottom: 12px;
}

.card__header__redprice{
    font-family: 'Rajdhani';
    font-weight: 700;
    font-size: 30px;
    color: #FF2E63;
    margin-right: 7px;
}

.card__header__greyprice{
    font-family: 'Rajdhani';
    font-weight: 500;
    font-size: 20px;
    text-decoration-line: line-through;
    color: #999999;
}

.card__header__tickets{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #343434;
}

.card__text__wrapper{
    padding: 0 20px 11px 20px;
    position: relative;
}



@media (max-width: 1300px)
{
    .container:has(.latest__competitions){
        padding: 0 10px 0 55px;
    }
   
}
@media (max-width:910px) {
    .container:has(.latest__competitions){
        padding: 0px 0px 0px 16px;
    }

    .first__swiper{
        margin-left: -11px;
    }

    .latest__competitions__header{
        margin-bottom: 10px;
    }

    .first__swiper{
        margin-right: 0;
    }
    .latest__competitions{
        margin-bottom: 43px;
    }
}


/*****************************/

.howitworks{
    margin-bottom: 70px;
}

.howitworks__header{
    font-family: 'Rajdhani';
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    color: #343434;
    margin-bottom: 53px;

}

.howitworks__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.howitworks__item{
    display: flex;
    margin-bottom: 30px;
}


.howitworks__maincontent{
    text-align: center;
    width: 250px;
}

.howitworks__text{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #343434;
}

.howitworks__arrowwrap{
    margin: 20px 12px 0 12px;
}

.howitworks__arrowwrap img{
    width: 32px;
}

.howitworks__text span{
    font-weight: 600;
}


.howitworks__imgwrap{
    margin-bottom: 27px;
}

@media (max-width: 1300px){
    .howitworks__item:first-child{
        margin-left: 56px;
    }

    .container:has(.howitworks){
        padding: 0 50px 0 50px;
    }
}

@media (max-width: 730px){
  
    .howitworks{
        margin-bottom: 33px;
    }
    /* .howitworks__maincontent{
        padding-left: 7px;
    } */
    .howitworks__header{
        margin-bottom: 22px;
    }
    .howitworks__arrowwrap{
        margin: 7px 0 4px 0;
    }
    .howitworks__arrowwrap img{
        transform: scale(1.1) rotate(90deg);
    }
    .howitworks__content{
        flex-direction: column;
    }
    .howitworks__item{
        flex-direction: column;
        align-items: center;
        margin-bottom: 27px;
        margin-left: -3px;
    }
    .howitworks__item:first-child{
        margin-left: 4px;
    }

    .howitworks__arrowwrap{
        margin-bottom: 3px;
    }

    .howitworks__imgwrap{
        margin: 30px 0 30px 0;
    }

    .firstwrap{
        margin-top: 0;
        margin-bottom: 29px;
    }

}

@media(max-width:355px){
    .howitworks__maincontent{
        width: auto;
    }
}



/*************************************************************************************/


.container:has(.reviews){
    padding: 0;
}

.reviews{
    margin-bottom: 100px;
}
.second__swiper{
    height: 400px;
}

.swiper2__slide{
    display: flex;
}

.reviews__textblock{
    flex-basis: 50%;
}

.reviews__imagewrapper{
    flex-basis: 50%;
}

.reviews__imagewrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination{
    left: 22.1%!important;
    bottom: 80px!important;
    width: 80px!important;
}



.swiper-pagination-bullet{
    background-color: #FF2E63;
    height: 10px;
    width: 10px;
    margin-right: 11px!important;
}

.reviews__textblock{
    background: rgba(52, 108, 217, 0.12);
    display: flex;
    padding-top: 78px;
}


.reviews__maintext{
    font-family: 'Open Sans'; 
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #343434;
    padding-inline: 5%;
    margin-bottom: 30px;
}

.reviews__name{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #343434;
}


@media(max-width: 910px){
    .swiper-pagination{
        left: 21%!important;
        bottom: 55px!important;
    }
}

@media(max-width: 730px){
    .reviews{
        margin-bottom: 60px;
    }

    .reviews__imagewrapper{
        display: none;
    }
    .reviews__textblock{
        flex-basis: 100%;
    }
    
    .swiper-pagination{
        left: 44%!important;
        
    }
    .reviews__textblock{
        padding-top: 55px;
    }
}

@media(max-width: 490px){
    .swiper-pagination{
        left: 40%!important;
    }
}


/*********************************************/

.latest__winners{
    min-width: 0;
    margin-bottom: 83px;
}

.latest__winners__header{
    font-family: 'Rajdhani';
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #343434;
    margin-bottom: 23px;
}

.imgs2__wrap{
    width: 270px;
    height: 200px;
    margin-bottom: 23px;
}

.cards2__text__wrapper{
    padding: 0 20px 19px 20px;
}

@media (max-width: 1300px)
{
    .container:has(.latest__winners){
        padding: 0 10px 0 55px;
    }
   
}
@media (max-width:910px) {
    .container:has(.latest__winners){
        padding: 0px 0px 0px 16px;
    }

    .latest__winners__header{
        margin-bottom: 22px;
    }


    .latest__winners{
        margin-bottom: 43px;
    }
}



/*************************************************/

.container:has(.footer){
    padding: 0;
}

.footer{
    background-color: #346CD9;
    padding: 16px 55px 16px;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo__white{
    font-family: 'Rajdhani';
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;

}
.footer__list{
    display: flex;
}

.footer__list__item{
    display: inline-block;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    margin-left: 30px;
    color:#fff;
    cursor: pointer;
    transition: .3s;
}

.footer__list__item:hover{
    color: #999999;
}

@media(max-width:946px){
    .footer__list{
        justify-content: center;
    }

    .footer__list__item{
        margin-inline: 8px;
    }
}

@media(max-width:910px){
    .logo__white{
        margin-bottom: 30px;
    }

    .footer{
        padding: 16px;
    }
    .wrapper{
        flex-direction: column;
        align-items: flex-start;
    }
    .footer__list{
        flex-direction: column;
        justify-content: flex-start;
    }
    .footer__list__item{
        margin: 0 0 20px 0;
    }
    .footer__list__item:last-child{
        margin: 0;
    }
}